@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.sidenav-container {
    height: 100vh;
  }
  .title {
    padding-left: 12px;
   }
  .sidenav {
    width: 250px;
  }
  .container {
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100vh; /* vh stands for viewport height */
    box-sizing: border-box;
  }
  .content {
    padding: 20px;
  }

  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 9999; /* make sure it's on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mat-spinner {
    /* adjust the size if needed */
    width: 50px;
    height: 50px;
  }